.Main{ 
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 40px;
    grid-area: main;
    border-radius: 30px;
    display: grid;
    grid-template-areas:
    'aboutmetitle navbar'
    'aboutme aboutme'  ; 
    border:solid 2px rgb(105, 104, 104);
    background-color: rgba(168, 165, 165, 0.329);

}

