.Navbar{ 
    grid-area: navbar;
    background-color: aliceblue;
    height: 0;
}
.Navbar ul{
  padding: 40px; 
  /* margin-left: 50%; */
  margin-top: -12px;
  background-color: #282828; 
  border-radius: 0 30px 0 30px;
  }
  
.Navbar li {
  display: inline;
}

.Navbar a{
  font-size: 20px;
  padding: 3%;
  color:whitesmoke;
  text-decoration: none;
}