.sidebar{
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(30, 30, 31);
    color: aliceblue;
    border:solid 2px rgb(105, 104, 104);
    border-radius: 30px;
}
.sidebar img { 
    width:200px;
    height:300px;
    border-radius: 40px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.027); 
}

 .title{
    background-color:rgba(0, 0, 0, 0.61);
    color:white;
    border-radius: 12px;
    box-shadow:4px 5px  rgba(0, 0, 0, 0.267);
    width: 40%;
    margin-left: 27%;
    padding: 10px;

 }
/* Sidebar info */

.sidebar-info-more {
    margin: auto;
}

.sidebar-info-more ul{
    list-style: none;
}

.list-more-info{
    width: 82%;
    padding-top: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 20px;
}

.list-more-info p{  padding-bottom: 16px;  }
