.sidebar{
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 13px;
    text-align: center;
}
.sidebar img { 
    width: 120px; 
    margin-top: 20%;
}



/* Sidebar info */

.sidebar-info-more {
    background-color: rgba(0, 0, 0, 0.178);
    margin: auto;
}

.sidebar-info-more ul{
    width: 20px;
    background-color: aqua;
    list-style: none;
}