.App {
  background-color: rgba(0, 0, 0, 0.678);
  margin-top:1%;
  display: grid;
  grid-template-areas:
    'datainfo main'
    'datainfo main';
  gap: 10px;
  font-family: Cursive;
  /* text-align: center; */
  }
  